* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 10000px;
}

.title {
    padding: 10px;
}

.main {
    padding-left: 10px;
    margin: auto;
    display: flex;
}

.toolbar {
    top:400px;
    position: relative;
}
.toolbar ul {
    display: flex;
}

.toolbar li {
    width: 24px;
    height: 24px;
    margin: auto;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    background-color: #fff;
}
.toolbar li:hover {
    opacity: 0.5;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#small {
    text-align: center;
    line-height: 44px;
    font-size: 100%;
}

.canvas {
    width: 1075px;
    height: 1079px;
    border: 1px solid #ccc;
}

.canvas canvas {
    width: 1075px;
    height: 1079px;
}