* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 500px;
}

.title {
    padding: 10px;
}

.main {
    padding-left: 10px;
    margin: auto;
}

.toolbar {}

.toolbar li {
    width: 44px;
    height: 44px;
    margin: auto;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    display: block;
    float: left;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#small {
    text-align: center;
    line-height: 44px;
    font-size: 100%;
}

#middle {
    text-align: center;
    line-height: 44px;
    font-size: 200%;
}

#large {
    text-align: center;
    line-height: 44px;
    font-size: 400%;
}

.canvas {
    width: 1075px;
    height: 1079px;
    border: 1px solid #ccc;
}

.canvas canvas {
    width: 1075px;
    height: 1079px;
}