* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 10000px;
    background-color: rgb(78, 78, 78);
    color: #fff;
}
.header {
    padding: 30px;
}
.title {
    padding: 0px;
}
.header p {
    padding-left: 40px;
}

.main {
    padding-left: 10px;
    margin: auto;
    display: flex;
}

.toolbar {
    bottom:60px;
    position: fixed;
    display: flex;
}
.toolbar ul {
    
}

.toolbar li {
    color: black;
    width: 44px;
    height: 44px;
    margin: auto;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px;
    background-color: #fff;
}
.toolbar li:hover {
    opacity: 0.5;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#small {
    text-align: center;
    line-height: 44px;
    font-size: 100%;
}

.canvas {
    width: 1075px;
    height: 1079px;
}

.canvas canvas {
    width: 1075px;
    height: 1079px;
}